[submodule "QC"]
    branch = develop
	path = QC
	url = https://github.com/biowdl/QC.git
[submodule "tasks"]
    branch = develop
	path = tasks
	url = https://github.com/biowdl/tasks.git
[submodule "gatk-preprocess"]
    branch = develop
	path = gatk-preprocess
	url = https://github.com/biowdl/gatk-preprocess.git
[submodule "BamMetrics"]
    branch = develop
	path = BamMetrics
	url = https://github.com/biowdl/BamMetrics.git
[submodule "scripts"]
	path = scripts
	url = https://github.com/biowdl/scripts.git
[submodule "somatic-variantcalling"]
	path = somatic-variantcalling
	url = https://github.com/biowdl/somatic-variantcalling.git
[submodule "gatk-variantcalling"]
	path = gatk-variantcalling
	url = https://github.com/biowdl/gatk-variantcalling.git
[submodule "gatk-CNVcalling"]
	path = gatk-CNVcalling
	url = https://github.com/biowdl/gatk-CNVcalling.git
[submodule "structural-variantcalling"]
	path = structural-variantcalling
	url = https://github.com/biowdl/structural-variantcalling.git
