[submodule "QC-wdl"]
	path = QC-wdl
	url = https://git.lumc.nl/sasc/QC-wdl.git
[submodule "wdl-tasks"]
	path = wdl-tasks
	url = https://git.lumc.nl/sasc/wdl-tasks.git
[submodule "wdl-mapping"]
	path = wdl-mapping
	url = https://github.com/ffinfo/wdl-mapping.git
[submodule "wdl-bqsr"]
	path = wdl-bqsr
	url = https://github.com/ffinfo/wdl-bqsr.git
[submodule "wdl-gvcf"]
	path = wdl-gvcf
	url = https://github.com/ffinfo/wdl-gvcf.git
